<div class="container">
    <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Employee</th>
                <th scope="col">Estimated Time</th>
                <th scope="col"> Date</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let task of taskDataSource">
            <tr>
                <th scope="row">{{task.id}}</th>
                <td>{{task.category}}</td>
                <td>{{task.status}}</td>
                <td>{{task.employeeId}}</td>
                <td>{{task.estimatedTime}}</td>
                <td>{{task.date}}</td>
                <td>Active</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm(task.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>z