<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" name="searchString" placeholder="Type to search..."
                            [(ngModel)]="searchString" />
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="nc-icon nc-zoom-split"></i></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Employee</th>
                <th scope="col">Estimated Time</th>
                <th scope="col"> Date</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let task of taskDataSource | filter : searchString" >
            <tr>
                <th scope="row">{{task.id}}</th>
                <td>{{task.category}}</td>
                <td>{{task.status}}</td>
                <td>{{task.employeeId}}</td>
                <td>{{task.estimatedTime}}</td>
                <td>{{task.date}}</td>
                <td>Active</td>
                <td>
                    <a (click)="navigateToUpdateForm(task.id)"><i class="nc-icon nc-share-66"></i></a>
                    <a (click)="onDeleteClick(task.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>z