<div class="container">
    <form [formGroup]="interviewForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select class="custom-select" formControlName="employeeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="trainee">Trainee</label>
                    <select class="custom-select" formControlName="traineeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="clientId">Client</label>
                    <select class="custom-select" formControlName="clientId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="interviewDate">Interview Date</label>
                    <input type="date" class="form-control" formControlName="interviewDate" id="interviewDate"
                        aria-describedby="Help" placeholder="Enter Interview Date ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endClient">End Client</label>
                    <input type="text" class="form-control" formControlName="endClient" id="endClient"
                        aria-describedby="Help" placeholder="Enter End client ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="allotedTime">Alloted Time</label>
                    <input type="time" class="form-control" formControlName="allotedTime" id="allotedTime"
                        aria-describedby="Help" placeholder="Enter Alloted Time">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="custom-select" formControlName="status">
                        <option selected>Select Status of Interview</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="paidStatus">Paid Status</label>
                    <select class="custom-select" formControlName="paidStatus">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Paid in Progress</option>
                        <option value="2">Payment Pending</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="receivedStatus">Received Status</label>
                    <select class="custom-select" formControlName="receivedStatus">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>