<div class="container">
    <form [formGroup]="clientForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter name" formControlName="name">
                    <span class="text-danger"
                        *ngIf="(clientFormControl.name.touched || submitted) && clientFormControl.name.errors?.required">
                        Name is Required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" aria-describedby="Help"
                        placeholder="Enter address" formControlName="address">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" id="contact" aria-describedby="nameHelp"
                        placeholder="Enter Contact" formControlName="contact">
                </div>
            </div>
        </div>

        <h4>Add To Contacts</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter name" formControlName="name">
                    <span class="text-danger"
                        *ngIf="(clientFormControl.name.touched || submitted) && clientFormControl.name.errors?.required">
                        Name is Required
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="Help"
                        placeholder="Enter Email" formControlName="email">
                    <span class="text-danger"
                        *ngIf="(clientFormControl.email.touched || submitted) && clientFormControl.email.errors?.required">
                        Email is Required
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <input type="text" class="form-control" id="designation" aria-describedby="Help"
                        placeholder="Enter Designation" formControlName="designation">
                    <span class="text-danger"
                        *ngIf="(clientFormControl.designation.touched || submitted) && clientFormControl.designation.errors?.required">
                        Designation is Required
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" aria-describedby="Help"
                        placeholder="Enter Phone Number" formControlName="phone">
                    <span class="text-danger"
                        *ngIf="(clientFormControl.phone.touched || submitted) && clientFormControl.phone.errors?.required">
                        Phone Number is Required
                    </span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>