<div class="container">
    <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Month Year</th>
                <th scope="col">Training Period</th>
                <th scope="col">Support period</th>
                <th scope="col">Preparation</th>
                <th scope="col">Misc</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let employeePayment of employeepaymentDataSource">
            <tr>
                <th scope="row">{{employeePayment.id}}</th>
                <td>{{employeePayment.employeeId}}</td>
                <td>{{employeePayment.monthYear}}</td>
                <td>{{employeePayment.trainingPeriod}}</td>
                <td>{{employeePayment.supportPeriod}}</td>
                <td>{{employeePayment.preparation}}</td>
                <td>{{employeePayment.misc}}</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm(employeepayment.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>z