<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Trainer Name</th>
                <th scope="col">Technology Name</th>
                <th scope="col">Trainer Phone</th>
                <th scope="col">Trainer Email</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                 <td>Mark</td>
                <td>Angular</td>
                <td>2346546890</td>
                <td>Otto@gmail.com</td>
                <td>yes ok with this</td>
                
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Angular</td>
                <td>2346546890</td>
                <td>Otto@gmail.com</td>
                <td>yes ok with this</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>