<div class="container">
    <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Trainer Id</th>
                <th scope="col">Trainer Name</th>
                <th scope="col">Technology Name</th>
                <th scope="col">Trainer Phone</th>
                <th scope="col">Trainer Email</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor = "let trainer of trainerDataSource">
            <tr>
                <th scope="row">{{trainer.id}}</th>
                 <td>{{trainer.name}}</td>
                <td>{{trainer.technologyId}}</td>
                <td>{{trainer.phone}}</td>
                <td>{{trainer.email}}</td>
                <td>{{trainer.description}}</td>
                
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm(trainer.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>