<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Base Salary</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>Mark</td>
                <td>12345456577</td>
                <td>Mark123@gmail.com</td>
                <td>Developer</td>
                <td>12100</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
            <tr>
                
                <td>Wood</td>
                <td>123454676577</td>
                <td>Wood123@gmail.com</td>
                <td>Developer</td>
                <td>12800</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>