<div class="container">
    <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Trainee Name</th>
                <th scope="col">Technology Name</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Status</th>
                <th scope="col">Attachment</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                 <td>Wood</td>
                 <td>Angular</td>
                <td>Hello</td>
                <td>Active</td>
                <td>File</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm()"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
            <tr>
                <td>Wood</td>
                 <td>Angular</td>
                <td>Hello</td>
                <td>Active</td>
                <td>File</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm()"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>