<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" name="searchString" placeholder="Type to search..."
                            [(ngModel)]="searchString" />
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="nc-icon nc-zoom-split"></i></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Trainee</th>
                <th scope="col">Trainer</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Allotted Time</th>
                <th scope="col">End Client</th>
                <th scope="col">Technology Used</th>
                <th scope="col">Paid By</th>
                <th scope="col">Paid Status</th>
                <th scope="col">Received Status</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let support of supportDataSource | filter : searchString">
            <tr>
                <th scope="row">{{support.id}}</th>
                <td>{{support.trainerId}}</td>
                <td>{{support.traineeId}}</td>
                <td>{{support.startDate}}</td>
                <td>{{support.endDate}}</td>
                <td>{{support.allottedTime}}</td>
                <td>{{support.endClient}}</td>
                <td>{{support.technologyUsed}}</td>
                <td>{{support.paidBy}}</td>
                <td>{{support.paidStatus}}</td>
                <td>{{support.receivedStatus}}</td>
                <td>{{support.status}}</td>
                <td>
                    <a (click)="navigateToUpdateForm(support.id)"><i class="nc-icon nc-share-66" data-toggle="tooltip" data-placement="left" title="Update"></i></a>
                    <a (click)="onDeleteClick(support.id)"><i class="nc-icon nc-box" data-toggle="tooltip" data-placement="left" title="Delete"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>