<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" name="searchString" placeholder="Type to search..."
                            [(ngModel)]="searchString" />
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="nc-icon nc-zoom-split"></i></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Trainer</th>
                <th scope="col">Lead</th>
                <th scope="col">Trainee</th>
                <th scope="col"> Date</th>
                <th scope="col">Count</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor = "let supportInteraction of supportinteractionDataSource  | filter : searchString">
            <tr>
                <th scope="row">{{supportInteraction.id}}</th>
                <td>{{supportInteraction.trainerId}}</td>
                <td>{{supportInteraction.lead}}</td>
                <td>{{supportInteraction.traineeId}}</td>
                <td>{{supportInteraction.date}}</td>
                <td>{{supportInteraction.count}}</td>
                <td>
                    <a (click)="navigateToUpdateForm(supportInteraction.id)"><i class="nc-icon nc-share-66"></i></a>
                    <a (click)="onDeleteClick(supportInteraction.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>