<div class="container">
    <form [formGroup]="salaryForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select class="custom-select" formControlName="employeeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(salaryFormControl.employeeId.touched || submitted) && salaryFormControl.employeeId.errors?.required">
                        Please Select Employee
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="month">Month</label>
                    <input type="month" class="form-control" formControlName="month" id="month" aria-describedby="Help"
                        placeholder="Enter the month">
                    <span class="text-danger"
                        *ngIf="(salaryFormControl.month.touched || submitted) && salaryFormControl.month.errors?.required">
                        Month is Required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="month" class="form-control" formControlName="year" id="year" aria-describedby="Help"
                        placeholder="Enter the year">
                    <span class="text-danger"
                        *ngIf="(salaryFormControl.year.touched || submitted) && salaryFormControl.year.errors?.required">
                        Year is Required
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="text" class="form-control" formControlName="salary" id="salary" aria-describedby="Help"
                        placeholder="Enter the salary">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>