<div class="container">
    <form [formGroup]="salaryForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select class="custom-select" formControlName="employeeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="month">Month</label>
                    <input type="text" class="form-control" formControlName="month" id="month"
                        aria-describedby="Help" placeholder="Enter the month">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="text" class="form-control" formControlName="year" id="year" aria-describedby="Help"
                        placeholder="Enter the year">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="text" class="form-control" formControlName="salary" id="salary"
                        aria-describedby="Help" placeholder="Enter the salary">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>