<div class="container">
    <form [formGroup]="batchForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Batch</label>
                    <input type="text" class="form-control" id="batch" aria-describedby="Help"
                        placeholder="Enter Batch number" formControlName="batch">
                        <span class="text-danger"
                        *ngIf="(batchFormControl.batch.touched || submitted) && batchFormControl.batch.errors?.required">
                        Batch Number is required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="technologyId">Technology</label>
                    <select class="custom-select" formControlName="technologyId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="traineeId">Trainer</label>
                    <select class="custom-select" formControlName="traineeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate" id="startDate"
                        aria-describedby="Help" placeholder="Enter Start Date ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate" id="endDate"
                        aria-describedby="Help" placeholder="Enter End Date ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="durationField">DurationField</label>
                    <input type="text" class="form-control" formControlName="durationField" id="durationField"
                        aria-describedby="phoneHelp" placeholder="Enter duration time">
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="custom-select" formControlName="status">
                        <option selected>Select Status of Batch</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="paidStatus">Paid Status</label>
                    <select class="custom-select" formControlName="paidStatus">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Paid in Progress</option>
                        <option value="2">Payment Pending</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="receivedStatus">Received Status</label>
                    <select class="custom-select" formControlName="receivedStatus">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="allottedTime">Allotted Time</label>
                    <input type="text" class="form-control" formControlName="allottedTime" id="allottedTime"
                        aria-describedby="Help" placeholder="Enter Allotted Time">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>