<div class="container">
    <form [formGroup]="supportForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="trainerId">Trainer</label>
                    <select class="custom-select" formControlName="trainerId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="trainee">Trainee</label>
                    <select class="custom-select" formControlName="traineeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="technologyUsed">Technology Used</label>
                    <input type="text" class="form-control" formControlName="technologyUsed" id="technologyUsed"
                        aria-describedby="Help" placeholder="Enter Used Technology ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="startdate">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate" id="startdate"
                        aria-describedby="Help" placeholder="Enter start Date ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="enddate">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate" id="enddate"
                        aria-describedby="Help" placeholder="Enter end Date ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endClient">End Client</label>
                    <input type="text" class="form-control" formControlName="endClient" id="endClient"
                        aria-describedby="Help" placeholder="Enter End client ">
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Status</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Select Status of Support</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Paid Status</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Paid in Progress</option>
                        <option value="2">Payment Pending</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Received Status</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="paidBy">Paid By</label>
                    <select class="custom-select" formControlName="paidBy">
                        <option selected>Select Paid By </option>
                        <option value="1">Consultant</option>
                        <option value="2">Consultency</option>
                        
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="allotedTime">Allotted Time</label>
                    <input type="time" class="form-control" formControlName="allotedTime" id="allotedTime"
                        aria-describedby="Help" placeholder="Enter alloted time">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>