<div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" id="invoiceNo" aria-describedby="nameHelp"
                        placeholder="Enter Invoice No" formControlName="invoiceNo">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    <label for="traineeId">Trainee</label>
                    <select class="custom-select" formControlName="traineeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="actualAmount">Actual Amount</label>
                    <input type="text" class="form-control" formControlName="actualAmount" id="actualAmount"
                        aria-describedby="phoneHelp" placeholder="Enter Actual Amount">
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-4">
                <div class="form-group">
                    <label for="receivedAmount">Received Amount</label>
                    <input type="text" class="form-control" formControlName="receivedAmount" id="receivedAmount"
                        aria-describedby="phoneHelp" placeholder="Enter Received Amount">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="receivedDate">Received Amount Date</label>
                    <input type="date" class="form-control" formControlName="receivedDate" id="receivedDate"
                        aria-describedby="phoneHelp" placeholder="Enter Received Amount Date">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="supportStartDate">Support Start Date</label>
                    <input type="date" class="form-control" formControlName="supportStartDate" id="supportStartDate"
                        aria-describedby="phoneHelp" placeholder="Enter Start Date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="supportEndDate">Support End Date</label>
                    <input type="date" class="form-control" formControlName="supportEndDate" id="supportEndDate"
                        aria-describedby="phoneHelp" placeholder="Enter End Date">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Employee Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter Name" formControlName="name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="phone" class="form-control" formControlName="phone" id="phone"
                        aria-describedby="phoneHelp" placeholder="Enter phone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>