<div class="container">
    <form [formGroup]="quetionForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endClient">End Client</label>
                    <input type="text" class="form-control" formControlName="endClient" id="endClient"
                        aria-describedby="Help" placeholder="Enter Name of End Client">
                    <span class="text-danger"
                        *ngIf="(quetionFormControl.endClient.touched || submitted) && quetionFormControl.endClient.errors?.required">
                        Name is Required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="quetion">Quetion</label>
                    <input type="text" class="form-control" formControlName="quetion" id="quetion"
                        aria-describedby="Help" placeholder="Enter the quetion">
                    <span class="text-danger"
                        *ngIf="(quetionFormControl.quetion.touched || submitted) && quetionFormControl.quetion.errors?.required">
                        Quetion is Required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="answers">Answers</label>
                    <input type="text" class="form-control" formControlName="answers" id="answers"
                        aria-describedby="Help" placeholder="Enter the answers">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>