<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
               
                <th scope="col">Employee Name</th>
                <th scope="col">Trainee Name</th>
                <th scope="col">Client Name</th>
                <th scope="col">Interview Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>Marj</td>
                <td>Wood</td>
                <td>ABC</td>
                <td>10/3/2023</td>
                <td>10:00 am</td>
                <td>Active</td>
                
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
            <tr>
                
               
            </tr>
        </tbody>
    </table>
</div>