<div class="container">
    <form [formGroup]="technologyForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter name" formControlName="name">
                    <span class="text-danger"
                        *ngIf="(technologyFormControl.name.touched || submitted) && technologyFormControl.name.errors?.required">
                        Name is required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>