<div class="container">
    <form [formGroup]="resumeForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="traineeId">Trainee</label>
                    <select class="custom-select" formControlName="traineeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(resumeFormControl.traineeId.touched || submitted) && resumeFormControl.traineeId.errors?.required">
                        Please Select Trainee
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select class="custom-select" formControlName="employeeId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" formControlName="date" id="date" aria-describedby="Help"
                        placeholder="Select Date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="paidStatus">Paid Status</label>
                    <select class="custom-select" formControlName="paidStatus">
                        <option selected>Open this select menu</option>
                        <option value="1">Not Started</option>
                        <option value="1">In Progress</option>
                        <option value="1">Paid In Progress</option>
                        <option value="1">Payment Pending</option>
                        <option value="2">Closed</option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(resumeFormControl.paidStatus.touched || submitted) && resumeFormControl.paidStatus.errors?.required">
                        Paid Status is Required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="receivedStatus">Received Status</label>
                    <select class="custom-select" formControlName="receivedStatus">
                        <option selected>Open this select menu</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                    <span class="text-danger"
                        *ngIf="(resumeFormControl.receivedStatus.touched || submitted) && resumeFormControl.receivedStatus.errors?.required">
                        Received Status is Required
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>