<div class="container">
    <form [formGroup]="traineeForm" (ngSubmit)="createForm()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter name" formControlName="name">
                    <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                        <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
                        <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" formControlName="phone" id="phone"
                        aria-describedby="phoneHelp" placeholder="Enter phone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="client">Client</label>
                    <select class="custom-select" formControlName="clientId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="technology">Technology</label>
                    <select class="custom-select" formControlName="technologyId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="alternativePhone">AlternativePhone</label>
                    <input type="text" class="form-control" formControlName="alternativePhone" id="phone"
                        aria-describedby="alternatephoneHelp" placeholder="Enter Alternatie phone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Batch</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="skypeid">Skype Id</label>
                    <input type="text" class="form-control" formControlName="skypeId" id="SkypeId"
                        aria-describedby="phoneHelp" placeholder="Enter Skype id">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="timeZone">Timezone</label>
                    <input type="text" class="form-control" formControlName="timeZone" id="timeZone"
                        aria-describedby="Help" placeholder="Enter timezone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Status</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Select Status of Trainee</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Paid Status</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Not Started</option>
                        <option value="2">In Progress</option>
                        <option value="3">Paid in Progress</option>
                        <option value="2">Payment Pending</option>
                        <option value="3">Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="batch">Received Status</label>
                    <select class="custom-select" formControlName="batchId">
                        <option selected>Select Status of Payment</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" formControlName="description"
                        placeholder="Enter description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
        <button class="btn btn-primary" (click)="navigateToParent()">Back</button>
    </form>
</div>