<div class="container">
    <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm()"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm()"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>