<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" name="searchString" placeholder="Type to search..."
                            [(ngModel)]="searchString" />
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="nc-icon nc-zoom-split"></i></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Invoice No</th>
                <th scope="col">Trainee Name</th>
                <th scope="col">Actual Amount</th>
                <th scope="col">Received Amount</th>
                <th scope="col">Received Date</th>
                <th scope="col">Support Start Date</th>
                <th scope="col">Support End Date</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor = " let invoice of invoiceDataSource">
            <tr>
                <th scope="row">{{invoice.id}}</th>
                <td>{{invoice.no}}</td>
                <td>{{invoice.traineeId}}</td>
                <td>{{invoice.actualAmount}}</td>
                <td>{{invoice.receivedAmount}}</td>
                <td>{{invoice.receivedDate}}</td>
                <td>{{invoice.supportStartDate}}</td>
                <td>{{invoice.supportEndDate}}</td>
                <td>{{invoice.description}}</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm(invoice.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
            <tr>
                
               
            </tr>
        </tbody>
    </table>
</div>