<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="navigateToCreateForm()">Add</button>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" name="searchString" placeholder="Type to search..."
                            [(ngModel)]="searchString" />
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="nc-icon nc-zoom-split"></i></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id </th>
                <th scope="col">Batch</th>
                <th scope="col">Technology</th>
                <th scope="col">Trainer</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Paid Status</th>
                <th scope="col">Received Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let batch of batchDataSource | filter : 'name' : searchString">
            <tr>
                <th scope="row">{{batch.id}}</th>
                <td>{{batch.batch}}</td>
                <td>{{batch.technologyId}}</td>
                <td>{{batch.trainerId}}</td>
                <td>{{batch.startDate}}</td>
                <td>{{batch.endDate}}</td>
                <td>{{batch.status}}</td>
                <td>{{batch.paidStatus}}</td>
                <td>{{batch.receivedStatus}}</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <a (click)="navigateToUpdateForm(batch.id)"><i class="nc-icon nc-box"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>