<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id </th>
                <th scope="col">Technology Name</th>
                <th scope="col">Trainee Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Angular</td>
                <td>Wood</td>
                <td>10/2/2000</td>
                <td>10/2/2000</td>
                <td>11/3/2099</td>
                <td>null</td>
                <td>Active</td>
                <td>2wtr34654ertew</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>Angular</td>
                <td>Wood</td>
                <td>10/2/2000</td>
                <td>10/2/2000</td>
                <td>11/3/2099</td>
                <td>null</td>
                <td>Active</td>
                <td>2wtr34654ertew</td>
                <td>
                    <i class="nc-icon nc-simple-add"></i>
                    <i class="nc-icon nc-share-66"></i>
                    <i class="nc-icon nc-box"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>